<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="dispatcherIp" value="127.0.0.1" />
    <add key="rabbitMqIp" value="25.73.74.104" />
    <add key="pingPort" value="11010" />
    <add key="username" value="test" />
    <add key="password" value="test" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>