<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="portDispatcherClient" value="11001" />
    <add key="portPingServers" value="11003"/>
    <add key="dispatcherIp" value="127.0.0.1" />
    <add key="wcfServerIp" value="25.32.149.3:8000" />
    <add key="rabbitMqIp" value="25.73.74.104" />
    <add key="rabbitMqName" value="OurNews"/>
    <add key="rabbitMqNLogin" value="test"/>
    <add key="rabbitMqPassword" value="test"/>
    <add key=""/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_INewsService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/NewsServiceLibrary/Service1/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INewsService"
                contract="ServiceReference1.INewsService" name="BasicHttpBinding_INewsService" />
        </client>
    </system.serviceModel>
</configuration>